<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %}
            Интернет-магазин
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 class='menu'>Основное меню сайта</h1>
 <div class="header">
     <a class='a' href="/index/">Главная</a>
     <a class='a' href="/clothes/">Одежда</a>
     <a class='a' href="/shoes/">Обувь</a>
     <a class='a' href="/jacket/">Куртка</a>
 </div>
    
    {% block content %}
        
    {% endblock %}

    {% block footer %}
        <div >
            <h2 class='basement'>Все права защищены! </h2>
        </div>    
    {% endblock %}

</body>
</html>